@import "global.css";

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--menu-background-color);
}

#briefing-text-container {
  background-color: var(--modal-window-main-color);
  padding: 20px;
  margin-bottom: 20px;
  border: 2px solid #444;
  max-width: 900px;
  margin-inline: auto;
}

#drone-canvas-container {
  margin-bottom: 20px;
}

#droneCanvas {
  border: 2px solid #444;
  background-color: var(--modal-window-main-color);
  display: block;
  max-width: 900px;
  width: 100%;
}
