@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
    --button-color: #d2ad26;
    --button-text-color: #787773;
    --menu-background-color: rgb(16, 96, 9);
    --canvas-background-color: rgb(124, 158, 121);


    font-family: "Montserrat", sans-serif;
}

.menu-button {
    
    width: 100%;
    height: 40px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--button-color);
    color: var(--button-text-color);
    font-size: 18px;
    font-weight: 500;
    text-transform: uppercase;
   border: none;
    border-radius: 15px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.35);
}