@import "global.css";

html,
body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  height: 100vh;
  width: 100vw;
  background-color: var(--menu-background-color);
  display: flex;
  justify-content: center;
  align-items: center;
}

#canvas1 {
  border: 3px solid black;
  background-color: var(--canvas-background-color);
  width: 100vw;
  height: 100vh;
  display: block;
  max-width: 900px;
  max-height: 900px;
}
#modal__greeting {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-window-background-color);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
  visibility: hidden; /* Ховаємо спочатку */
}
#trainingModal {
  visibility: hidden;
}
#enemiesModal {
  visibility: hidden;
}
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-window-background-color);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
}

#modal__greeting-content {
  background: var(--modal-window-main-color);
  padding: 20px 40px;
  border-radius: 10px;
  border-radius: 5px;
  text-align: center;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
.modal-content {
  background: var(--modal-window-main-color);
  padding: 20px;
  border-radius: 5px;
  width: 90%;
  max-width: 500px;
  text-align: left;
}

h2 {
  text-align: center;
}

#trainingStartButton {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  background-color: var(--modal-buttons-color);
  color: var(--modal-buttons-text-color);
  border-radius: 5px;
  cursor: pointer;
}
#trainingStartButton:hover {
  background-color: var(--modal-buttons-hover-color);
}
.training-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.training-buttons button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 10px;
  background-color: var(--modal-buttons-color);
  color: var(--modal-buttons-text-color);
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.training-buttons button:hover {
  background-color: var(--modal-buttons-hover-color);
}

#enemiesButtons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 20px;

  gap: 15px;
}
