@import "global.css";
body {
  margin: 0;
  padding: 0;
  /* overflow: hidden; */
  height: 100vh;
  width: 100vw;
  background-color: var(--menu-background-color);
}
#upgradeCntainer {
  transform-origin: top left;
  position: absolute;
  top: 0;
  left: 0;
}
.small_drone_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/drones/smallDroneAnimation.png");
  background-size: 400% 200%; /* 4 кадри по горизонталі, 2 по вертикалі */
  background-position: 100% 0%; /* Лівий верхній кут */
}
.medium_drone_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/drones/mediumDroneAnimation.png");
  background-size: 400% 200%; /* 4 кадри по горизонталі, 2 по вертикалі */
  background-position: 0% 0%; /* Лівий верхній кут */
}
.big_drone_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/drones/bigDroneAnimation.png");
  background-size: 400% 200%; /* 4 кадри по горизонталі, 2 по вертикалі */
  background-position: 100% 0%; /* Лівий верхній кут */
}

.slot4_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/upgrades/4.png");
  background-size: cover;
}

.slot5_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/upgrades/5.png");
  background-size: cover;
}

.footMine_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/footMineIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tankMine_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/tankMineIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.magnetMine_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/magnetMineIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shrapnelBomb_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/shrapnelBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clusterBomb_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/clusterBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shapedClusterBomb_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/shapedClusterBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.fragBombUpgrade_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/fragBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.heBombUpgrade_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/heBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shapedBombUpgrade_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/shapedBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.tankMineUpgrade_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/tankMineIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.magnetMineUpgrade_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/magnetMineIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shrapnelBombUpgrade_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/shrapnelBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.clusterBombUpgrade_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/clusterBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.shapedClusterBombUpgrade_image {
  width: 50px; /* ширина одного кадру */
  height: 50px; /* висота одного кадру */
  background-image: url("../assets/img/bombs/shapedClusterBombIcon.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.upgrade-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--upgrade-box-color);
  border-radius: 5px;
  font-size: 9px;
  box-shadow: 0 0 12px rgba(0, 0, 0, 0.45);
  text-align: center;
  padding: 3px;
}
.upgrade-cost {
  font-size: 14px;
}

#open-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0;
}

#upgrade-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 15px;
  margin: 15px 0;
}

.upgrade-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--modal-window-background-color);
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.5);
}

#middleDroneOpenModal {
  visibility: hidden;
}

#bigDroneOpenModal {
  visibility: hidden;
}

#slot4OpenModal {
  visibility: hidden;
}

#slot5OpenModal {
  visibility: hidden;
}

#footMineOpenModal {
  visibility: hidden;
}

#tankMineOpenModal {
  visibility: hidden;
}

#magnetMineOpenModal {
  visibility: hidden;
}

#shrapnelBombOpenModal {
  visibility: hidden;
}

#clusterBombOpenModal {
  visibility: hidden;
}

#shapedClusterBombOpenModal {
  visibility: hidden;
}

#smallDroneSpeedUpgradeModal {
  visibility: hidden;
}

#mediumDroneSpeedUpgradeModal {
  visibility: hidden;
}

#bigDroneSpeedUpgradeModal {
  visibility: hidden;
}

#smallDroneCapacityUpgradeModal {
  visibility: hidden;
}

#mediumDroneCapacityUpgradeModal {
  visibility: hidden;
}
#bigDroneCapacityUpgradeModal {
  visibility: hidden;
}

#smallDroneHPUpgradeModal {
  visibility: hidden;
}

#mediumDroneHPUpgradeModal {
  visibility: hidden;
}

#bigDroneHPUpgradeModal {
  visibility: hidden;
}

#fragBombUpgradeModal {
  visibility: hidden;
}

#heBombUpgradeModal {
  visibility: hidden;
}

#shapedBombUpgradeModal {
  visibility: hidden;
}
#tankMineUpgradeModal {
  visibility: hidden;
}
#magnetMineUpgradeModal {
  visibility: hidden;
}
#shrapnelBombUpgradeModal {
  visibility: hidden;
}
#clusterBombUpgradeModal {
  visibility: hidden;
}
#shapedClusterBombUpgradeModal {
  visibility: hidden;
}

.score {
  color: rgb(178, 192, 178);
}
