# Ігноруємо редакторські налаштування
.vscode/
.idea/

# Ігноруємо результати збірки
/dist/
/build/

# Ігноруємо залежності (якщо буде Node.js)
node_modules/

# Тимчасові файли
*.log
*.tmp

# Ігноруємо системні файли
.DS_Store
Thumbs.db

# Ігноруємо свої локальні ресурси
/assets/tmp/
/assets/test/

# Android build artifacts
/android/
/node_modules/
/www/


# Capacitor config artifacts
capacitor.config.json
package-lock.json